//- The list of the team's videos.

extends layout

block content
  //- Passing the list of the team's videos as a prop from index.js using v-bind so it knows it's an object. 
  meetings-video-list(:videos=data)
